.catTitle {
  color: #53c28b;
  padding: 10px;
  margin-bottom: 50px;
}

.item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 50px;
  border: 1px solid #33333330;
  border-radius: 15px;
  padding: 15px;
}

@media (min-width: 992px) {
  .item {
    flex-direction: row;
    gap: 60px;
  }
  .item:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
}


.content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.imgContainer {
  border-radius: 15px;
  overflow: hidden;
}

.title {
  font-size: 36px;
}

.desc {
  font-size: 20px;
}

.img {
  max-width: 100%;
  object-fit: cover;
}
