
.loading {
  height: 100dvh;
  background-color: red;
  font-size: 100px;
}

:root {
  --btnColor: #4db5ff;
  --mainColor: #3E1F47;
  --secColor: #272640;
  --paddColor: #1B3A4B;
  --longPaddColor: #0B525B;
  --mainTransition: .4s;
}


* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}
/* Components */



.mainContainer {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.theme {
  transition: .6s;
}

.light {
  background-color: #fff;
  color: #111;
}



.dark {
  background-color: #111;
  color: #bbb;
}




.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;

}

section {
  margin-block: 30px;
  padding-block: 30px;
  flex:1;
  overflow: hidden;
}


/* media queries */

@media (min-width: 768px) and (max-width: 991px){
  .container{ 
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container{ 
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container{ 
    width: 1170px;
  }
}